SONARQUBE_TOKEN=wygenerowany_w_sonarqube_user_token
JWT_SECRET_KEY=moje_bardzo_dlugie_i_bezpieczne_haslo_z_duza_iloscia_znakow
DB_USER=jakis_uzytkownik_bazy_danych
DB_PASSWORD=jakies_haslo_do_bazy_danych
DB_NAME=nazwa_bazy_danych