# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/pl-java2026.iml
/vcs.xml
/modules.xml
/misc.xml
/copilot.data.migration.edit.xml
/copilot.data.migration.ask.xml
/copilot.data.migration.agent.xml
/compiler.xml
/copilot.data.migration.ask2agent.xml
/discord.xml
/copilotDiffState.xml
/modules/auth-server/pl-java2026.auth-server.main.iml
/modules/watermark-service/pl-java2026.watermark-service.main.iml
/modules/auth-server/pl-java2026.auth-server.test.iml
